:root {
  --main-background: #16052b;
  --purple-one: #391169;
  --purple-two: #3a2257;
  --purple-three: #46325f;
  --main-card-bg: #3c354a;
  --blue-one: #00b4d8;
  --main-white: #fff;
}

html,
body {
  max-width: 100vw;
  height: 200vh;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgba(23, 23, 23, 1) 49%,
    rgba(36, 33, 33, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
