.section {
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
  height: 100%;
  width: 100%;
}

.contentSelector {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.contentSelector > p {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.contentSelector > p::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-white);
  position: relative;
  transition: width 0.3s ease-in-out;
  top: 4px;
}

.contentSelector > p:hover::after {
  width: 100%;
}

.activeSelector {
  color: var(--blue-one);
}

.activeSelector::after {
  width: 100% !important;
  background: var(--blue-one) !important;
}
